#addTeamSection{
  width: 300px;
  margin: auto;
  background-color: #fff9;
  border-radius: 15px;

}
#addTeamSection>h1{
  text-align: center;
}
#addTeamSection>form{
  text-align: center;
}
#addTeamSection>form>button{
  border-radius: 10px;
  margin-bottom: 5px;
}
